{%extends 'sitepages/base.html'%}

{%load static%} 
{% block title %}About Us{% endblock %}

{%block aboutpage_content%}


<div class="container-fluid page-header py-5">
            <div class="container text-center py-5">
                <h1 class="display-2 text-white mb-4 animated slideInDown">About Us</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item" aria-current="page">Services</li>
                    </ol>
                </nav>
            </div>
        </div>
<!-- About Start -->
        <div class="container-fluid py-5 my-5">
            <div class="container pt-5">
                <div class="row g-5">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="{%static 'img\successful-happy-business-team.jpg' %}" class="img-fluid w-100 h-70 rounded" alt="" style="margin-bottom: 25%;">
                            <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                                <img src="img/about-2.jpg" class="img-fluid w-100 rounded" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                        <h5 class="text-primary">About Us</h5>
                        <h1 class="mb-4">About Victorious System & Technology</h1>
                        <p class="fs-5">Victorious System & Technology is a renowned information technology organization dully incorporated under the company and Allied Matters act in April 12, 2014. And commenced business activities in September 2015.

Victorious System & Technology is a company exclusively engaged in the business of bank, hospital, schools and office computerization. Also provide wide range of choice, quality and services to various market segments offering great deals for businesses, public sectors establishments & homes.

As we are known for effectual services, humility, transparency, loyalty and trust,

Victorious System & Technology is a company that is vigilant on the requirements of a company. With our personnel potency we get to you anywhere you are. We
</p>
                        <p class="mb-4">We do not compromise quality & customer support services Victorious System & Technology has been tested & proven by most private and corporate bodies.

You can count on us to provide you with an exceptional level of support.

Our services are proficient

Our products are of good qualities

We guarantee our clients of maximum contentment.

With Victorious System & Technology, moving you to a greater height
</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        {%endblock%}

       