{%extends 'sitepages/base.html'%}

{%load static%} 
{% block title %}Blog{% endblock %}

{%block aboutpage_content%}


 <div id="posts" class="container">
        <div class="row">
             {% for f in post_detail %}
            <div class="mb-4">
                <img src="{{ f.thumbnail.url}}" alt="Post Image" class="img-fluid w-100 h-70">
                <h2>{{ f.title }}</h2>
                 <span class="text-secondary">{{ f.created|date:"M d, Y"}}</span>
                <p>{{ f.body|safe }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
      
        <!-- Blog Start -->
        {% comment %} <div class="container-fluid blog py-5 mb-5">
            <div class="container">
                {% for f in post_detail %}
                <div class="row g-5 justify-content-center">
                    <div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="blog-item position-relative bg-light rounded">
                            <img src="{{ f.thumbnail.url}}" class="img-fluid w-100 rounded-top" alt="">
                            <span class="position-absolute px-4 py-3 bg-primary text-white rounded" style="top: -28px; right: 20px;">Web Development</span>
                            <div class="blog-btn d-flex justify-content-between position-relative px-3" style="margin-top: -75px;">
                                <div class="blog-icon btn btn-secondary px-3 rounded-pill my-auto">
                                    <a href="" class="btn text-white">Read More</a>
                                </div>
                                <div class="blog-btn-icon btn btn-secondary px-4 py-3 rounded-pill ">
                                    <div class="blog-icon-1">
                                        <p class="text-white px-2">Share<i class="fa fa-arrow-right ms-3"></i></p>
                                    </div>
                                    <div class="blog-icon-2">
                                        <a href="" class="btn me-1"><i class="fab fa-facebook-f text-white"></i></a>
                                        <a href="" class="btn me-1"><i class="fab fa-twitter text-white"></i></a>
                                        <a href="" class="btn me-1"><i class="fab fa-instagram text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content text-center position-relative px-3" style="margin-top: -25px;">
                                <img src="{%static 'img/admin.jpg' %}" class="img-fluid rounded-circle border border-4 border-white mb-3" alt=""> 
                                <h5 class="">{{ f.title }}</h5>
                                <span class="text-secondary">{{ f.created|date:"M d, Y"}}</span>
                                <p class="py-2">{{ f.body|safe }}</p>
                            </div>
                            <div class="blog-coment d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom">
                                <a href="" class="text-white"><small><i class="fas fa-share me-2 text-secondary"></i>5324 Share</small></a>
                                <a href="" class="text-white"><small><i class="fa fa-comments me-2 text-secondary"></i>5 Comments</small></a>
                            </div> 
                    </div>
                    {% endfor %}
                   
                </div>
              
            </div>
        </div> {% endcomment %}
        <!-- Blog End -->


      

       {%endblock%}