{%extends 'sitepages/base.html'%}

{%load static%}
{% block title %}Our Services{% endblock %} 

{%block aboutpage_content%}
        <!-- Page Header Start -->
        <div class="container-fluid page-header py-5">
            <div class="container text-center py-5">
                <h1 class="display-2 text-white mb-4 animated slideInDown">Services</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item" aria-current="page">Services</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header End -->


      


        <!-- Services Start -->
        <div class="container-fluid services py-5 mb-5">
            <div class="container">
                <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
                    <h5 class="text-primary">Our Services</h5>
                    <h1>Services Built Specifically For Your Business</h1>
                </div>
                <div class="row g-5 services-inner">
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    {% comment %} <i class="fa fa-code fa-7x mb-4 text-primary"></i> {% endcomment %}
                                    <i class="fa fa-sleigh fa-2xl mb-4 text-primary fs-2"></i>
                                    <h4 class="mb-3">Hardware Sales</h4>
                                    <p class="mb-4">Sales and maintenance of computer system, multi-media projector, printer, CCTV and laptops/desktop & accessories</p>
                                    <a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fa fa-external-link-alt fa-2x mb-4 text-primary"></i>
                                    <h4 class="mb-3">Networking</h4>
                                    <p class="mb-4">Installations, repairs, troubleshooting, and networking. U-rack cabinets for networking
                                    Web design, Blog and Computer graphic</p>
                                    <a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                  <i class="fa fa-file-code fa-2x mb-4 text-primary"></i>
                                    <h4 class="mb-3">Tech Training</h4>
                                    <p class="mb-4">Training on Microsoft office application, engineering and developing people for future purposes.</p>
                                    <a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    {% comment %} <i class="fas fa-user-secret fa-7x mb-4 text-primary"></i> {% endcomment %}
                                    <i class="bi bi-camera-reels-fill mb-4 text-primary fs-2"></i>
                                    <h4 class="mb-3">Multimedia</h4>
                                    <p class="mb-4">Photography, Video Editing, Time Attendance, Hotel Door Lock, Repair & Installations, Corporate Training, Bulk SMS, Online Advert, & Supplies</p>
                                    <a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fa fa-envelope-open fa-2x mb-4 text-primary"></i>
                                    <h4 class="mb-3">Digital Marketing</h4>
                                    <p class="mb-4">The best at advertising your products online.</p>
                                    <a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="services-item bg-light">
                            <div class="p-4 text-center services-content">
                                <div class="services-content-icon">
                                    <i class="fas fa-laptop fa-2x mb-4 text-primary"></i>
                                    <h4 class="mb-3">Logistics</h4>
                                    <p class="mb-4">General Mechanize, Logistic.</p>
                                    <a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->

        {%endblock%}


       